@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ulli {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*PRELOADER*/

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  z-index: 14;
  opacity: 1;
  background: white;
  background: -o-linear-gradient(bottom, white 0%, #62bdb3 31%, #43a39a 58%, #00897b 97%);
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(31%, #62bdb3), color-stop(58%, #43a39a), color-stop(97%, #00897b));
  background: linear-gradient(to top, white 0%, #62bdb3 31%, #43a39a 58%, #00897b 97%);
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.preloader.done {
  opacity: 0;
  visibility: hidden;
}

.loader {
  position: relative;
  color: #016b5e;
  font-family: 'Open-sans', sans-serif;
  font-size: 130px;
  font-weight: 700;
  opacity: .7;
  -webkit-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 25px;
  font-weight: 700;
  color: #212121;
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
}

.nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.nav__link {
  margin-left: 40px;
  font-size: 20px;
  color: #212121;
  text-decoration: none;
  position: relative;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
}

.nav__link:before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #000;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.nav__link:hover:before {
  width: 100%;
  left: 0;
  background-color: #000;
}

.nav__link img {
  width: 19px;
  height: 19px;
}

.preview {
  background: url("../img/preview-bg.webp") center/cover no-repeat fixed;
  background-size: cover;
  min-height: 100vh;
  padding-top: 120px;
}

.preview:after {
  content: '';
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
}

.preview__inner {
  position: relative;
  top: 180px;
  left: 0;
  z-index: 3;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

.preview__title {
  margin-bottom: 25px;
}

.preview__subtitle {
  margin-bottom: 135px;
  font-size: 22px;
  opacity: .45;
}

.preview__buttons {
  margin-bottom: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.preview__button {
  display: inline-block;
  width: 170px;
  height: 67px;
  padding-top: 20px;
  margin-right: 25px;
  background-color: transparent;
  border: 3px solid #fff;
  font-size: 20px;
  color: #fff;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.preview__button:last-child {
  margin-right: 0;
}

.preview__button:hover {
  background-color: #00897b;
  border-color: #00897b;
}

.preview__button.active {
  background-color: #00897b;
  border-color: #00897b;
}

.preview span {
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 75px;
}

.preview span:after,
.preview span:before {
  content: '';
  position: absolute;
  top: 0;
  left: -15px;
  width: 20px;
  height: 4px;
  background: #fff;
  -webkit-animation: .6s linear 0s infinite alternate move_span_before;
          animation: .6s linear 0s infinite alternate move_span_before;
  z-index: 4;
}

.preview span:after {
  left: -2px;
  -webkit-animation: .6s linear 0s infinite alternate move_span_after;
          animation: .6s linear 0s infinite alternate move_span_after;
}

h1 {
  font-size: 60px;
}

@-webkit-keyframes move_span_before {
  from {
    background-color: #fff;
    -webkit-transform: translateY(-15px) rotate(45deg);
            transform: translateY(-15px) rotate(45deg);
  }

  to {
    background-color: #000;
    -webkit-transform: translateY(15px) rotate(45deg);
            transform: translateY(15px) rotate(45deg);
  }
}

@keyframes move_span_before {
  from {
    background-color: #fff;
    -webkit-transform: translateY(-15px) rotate(45deg);
            transform: translateY(-15px) rotate(45deg);
  }

  to {
    background-color: #000;
    -webkit-transform: translateY(15px) rotate(45deg);
            transform: translateY(15px) rotate(45deg);
  }
}

@-webkit-keyframes move_span_after {
  from {
    background-color: #fff;
    -webkit-transform: translateY(-15px) rotate(-45deg);
            transform: translateY(-15px) rotate(-45deg);
  }

  to {
    background-color: #000;
    -webkit-transform: translateY(15px) rotate(-45deg);
            transform: translateY(15px) rotate(-45deg);
  }
}

@keyframes move_span_after {
  from {
    background-color: #fff;
    -webkit-transform: translateY(-15px) rotate(-45deg);
            transform: translateY(-15px) rotate(-45deg);
  }

  to {
    background-color: #000;
    -webkit-transform: translateY(15px) rotate(-45deg);
            transform: translateY(15px) rotate(-45deg);
  }
}

.about__title {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 700;
  font-family: inherit;
}

.about__subtitle {
  max-width: 620px;
  margin: 0 auto;
  margin-bottom: 120px;
  font-size: 15px;
  font-weight: 400;
  font-family: inherit;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__img {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}

.about__description {
  margin-top: 40px;
  text-align: center;
}

.about .description__title {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #212121;
}

.about .description__subtitle {
  max-width: 250px;
  margin: 0 auto;
  color: #212121;
  font-size: 15px;
}

.services {
  background-color: #e4fdf9;
  min-height: 1330px;
}

.services_inner {
  background-color: #e4fdf9;
  margin-top: 120px;
}

.services__heading {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.services__title {
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: 700;
  font-family: inherit;
}

.services__subtitle {
  max-width: 620px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 400;
  font-family: inherit;
}

.services__wrapper {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__column {
  margin-bottom: 30px;
  max-width: 370px;
  width: 100%;
  max-height: 450px;
  padding: 50px 40px 60px;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.services__column.active {
  color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
  background-color: #00897b;
}

.services__column::-webkit-scrollbar {
  width: 0px;
}

.services__img {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}

.services__description {
  margin-top: 40px;
  text-align: center;
}

.services .description__title {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 400;
  color: inherit;
  font-family: "Open Sans - Semibold", sans-serif;
}

.services .description__subtitle {
  max-width: 250px;
  margin: 0 auto;
  margin-bottom: 45px;
  color: inherit;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.services .description__button {
  margin: 0 auto;
  display: block;
  max-width: 170px;
  background-color: transparent;
  padding: 15px 20px;
  cursor: pointer;
  border: 2px solid #212121;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.services__column.active .description__button {
  background-color: #00897b;
  border-color: #fff;
  color: #fff;
}

.works__title {
  margin-bottom: 35px;
  font-size: 30px;
  color: #212121;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.works__subtitle {
  margin: 0 auto;
  max-width: 620px;
  margin-bottom: 130px;
  font-size: 15px;
  color: #212121;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.works__tabs {
  margin-bottom: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.works__button {
  padding: 20px 35px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #00897b;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.works__button.active {
  color: #fff;
  background-color: #00897b;
}

.works__button:hover {
  color: #fff;
  background-color: #00897b;
}

.works__button.more {
  padding: 20px 35px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: #00897b;
  cursor: pointer;
  color: #fff;
  border: 2px solid #00897b;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.works__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__item {
  position: relative;
  margin-bottom: 30px;
  max-width: 370px;
  width: 100%;
}

.works__img {
  display: block;
  max-width: 370px;
  height: auto;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.works__more {
  margin-top: 150px;
}

.works__text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  background-color: #212121;
  font-weight: 700;
  text-align: center;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.works__text h3 {
  margin-top: 45%;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

.works__text h4 {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.works__item:hover .works__text {
  opacity: .9;
}

.price {
  background-color: #f0f0f0;
}

.price__title {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}

.price__subtitle {
  max-width: 620px;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 400;
}

.price__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 120px;
}

.price__item {
  max-height: 670px;
  background-color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.price__item.active {
  -webkit-box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
}

.price .item__heading {
  position: relative;
  top: 0;
  left: 0;
}

.price .item__heading img {
  max-width: 370px;
  width: 100%;
}

.price .item__condition {
  position: absolute;
  top: 48px;
  left: 35%;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.price .item__pricing {
  position: absolute;
  top: 100px;
  left: 33%;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
}

.price .item__pricing:before {
  content: '$';
  position: relative;
  top: -20px;
  left: -2px;
  color: #bdc2e3;
  font-size: 20px;
}

.price .item__pricing:after {
  content: 'per month';
  position: relative;
  top: -7px;
  left: 4px;
  color: #bdc2e3;
  font-size: 17px;
}

.price .item__conditions {
  max-width: 180px;
  margin: 0 auto;
  text-align: center;
}

.price__cond {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 40px;
}

.price__cond:after {
  content: '';
  position: relative;
  top: 15px;
  left: 0;
  display: block;
  max-width: 180px;
  height: 1px;
  background-color: #000000;
  opacity: .4;
}

.price__cond:first-child {
  margin-top: 50px;
}

.price__cond:last-child {
  margin-bottom: 100px;
}

.price__button {
  margin-bottom: 100px;
  text-align: center;
}

.price .item__button {
  width: 175px;
  padding: 25px 35px;
  margin-bottom: 65px;
  color: #212121;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 1px;
  border: 2px solid #000000;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.price .item__button:hover {
  color: #fff;
  background-color: #00897b;
  border-color: #00897b;
}

.team__inner {
  text-align: center;
}

.team__title {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
}

.team__subtitle {
  max-width: 620px;
  margin: 0 auto;
  margin-top: 36px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.team__cards {
  margin-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__item {
  max-width: 365px;
  width: 100%;
  text-align: center;
}

.team .card__img {
  width: 200px;
}

.team .card__text {
  margin-top: 38px;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.team .card__sub {
  margin-top: 12px;
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.team .card__soc {
  margin: 0 auto;
  max-width: 275px;
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team .soc {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #f0f1f1;
}

.team .soc img {
  margin-top: 20%;
  width: 30px;
  height: 30px;
}

.team .face:hover {
  background-color: #3b5998;
}

.team .twit:hover {
  background-color: #1DA1F2;
}

.team .chat:hover {
  background-color: #25D366;
}

.team .drib:hover {
  background-color: #ea4c89;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  width: 100px;
  margin: 0 auto;
  margin-top: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slick-dots li {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 15px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #00897b;
}

.slick-dots li button {
  font-size: 0;
}

.slick-dots li.slick-active {
  background-color: #3949ab;
}

.blog {
  background-color: #e4fdf9;
}

.blog__heading {
  text-align: center;
}

.blog__title {
  margin-bottom: 30px;
  color: #212121;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.blog__subtitle {
  margin: 0 auto;
  max-width: 620px;
  margin-bottom: 125px;
  color: #212121;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.blog__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__img img {
  max-width: 570px;
  width: 100%;
}

.blog__text {
  margin-top: 60px;
  max-width: 580px;
  max-width: 570px;
  width: 100%;
  text-align: left;
}

.blog .card__heading {
  color: #212121;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

.blog .card__heading:hover {
  color: #00897b;
}

.blog .card__subtitle {
  max-width: 300px;
  margin-top: 28px;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.blog .card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 17px;
}

.blog .card__date img {
  margin-right: 7px;
  margin-top: 3px;
  width: 15px;
  height: 15px;
}

.blog .card__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 17px;
}

.blog .card__file img {
  margin-right: 7px;
  width: 20px;
  height: 20px;
}

.blog .card__description {
  max-width: 450px;
  text-align: left;
}

.blog__button {
  display: block;
  margin: 0 auto;
  margin-top: 125px;
  padding: 28px 35px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: Roboto;
  color: #fff;
  background-color: #00897b;
}

.blog__button.more {
  padding: 20px 35px;
  max-width: 190px;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: #00897b;
  cursor: pointer;
  color: #fff;
  border: 2px solid #00897b;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.contacts {
  background: url("../img/contacts-bg.webp") center/cover no-repeat fixed;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1111;
  color: #fff;
}

.contacts:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1000;
}

.contacts__heading {
  margin: 0 auto;
  max-width: 620px;
  text-align: center;
}

.contacts__title {
  margin-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.contacts__subtitle {
  margin-bottom: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

.contacts__connects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 120px;
}

.contacts__item a {
  display: block;
  margin: 0 auto;
  margin-left: 26%;
  margin-bottom: 40px;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: #3949ab;
}

.contacts__item a img {
  position: relative;
  top: 10%;
  left: 21%;
  width: 60px;
  height: auto;
}

.contacts__item a .phone {
  top: 22%;
}

.contacts__item a .mail {
  top: 30%;
}

.contacts__item .item__phone {
  margin-left: 20%;
}

.contacts .item__text {
  margin: 0 auto;
  max-width: 245px;
  text-align: center;
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
}

.contacts__form #form {
  text-align: right;
}

.contacts__form #form .form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 33px;
}

.contacts__form #form .form__inputs input {
  display: block;
  max-width: 570px;
  width: 100%;
  padding: 35px 21px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.contacts__form #form .form__inputs input::-webkit-input-placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form .form__inputs input::-moz-placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form .form__inputs input:-ms-input-placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form .form__inputs input::-ms-input-placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form .form__inputs input::placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form .form__inputs input:focus::-webkit-input-placeholder {
  color: transparent;
}

.contacts__form #form .form__inputs input:focus:-moz-placeholder {
  color: transparent;
}

.contacts__form #form .form__inputs input:focus::-moz-placeholder {
  color: transparent;
}

.contacts__form #form .form__inputs input:focus:-ms-placeholder {
  color: transparent;
}

.contacts__form #form textarea {
  padding: 30px 20px;
  width: 100%;
  max-height: 320px;
  border-radius: 10px;
  font-size: 20px;
}

.contacts__form #form textarea::-webkit-input-placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form textarea::-moz-placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form textarea:-ms-input-placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form textarea::-ms-input-placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form textarea::placeholder {
  font-family: "Open Sans - Semibold", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.contacts__form #form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.contacts__form #form textarea:focus:-moz-placeholder {
  color: transparent;
}

.contacts__form #form textarea:focus::-moz-placeholder {
  color: transparent;
}

.contacts__form #form textarea:focus:-ms-placeholder {
  color: transparent;
}

.contacts__form #form input[type="submit"] {
  padding: 28px 84px;
  margin-top: 40px;
  border-radius: 10px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
}

.footer__inner {
  padding: 22px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans - Semibold";
  line-height: 22px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.inner {
  padding-top: 120px;
  padding-bottom: 125px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #888;
          box-shadow: inset 0 0 5px #888;
  border-radius: 14px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 14px;
}

.heading__sub {
  color: #212121;
  text-align: center;
  font-weight: 700;
}

a:visited {
  color: inherit;
}

.more {
  color: #fff;
}

.more:hover {
  background-color: #006b5e;
  border-color: #006b5e;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  transition: all .5s linear;
}

@media (max-width: 1210px) {
  .container {
    max-width: 1024px;
  }

  .inner {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 100px;
    padding-bottom: 105px;
  }

  .works__more {
    margin-top: 80px;
  }

  .price__item {
    width: 31.33333%;
  }

  .price__button {
    margin-bottom: 60px;
  }

  .slick-dots {
    width: 160px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  .blog__img img {
    max-width: 390px;
  }

  .blog__text {
    max-width: 390px;
  }

  .contacts__subtitle {
    margin-bottom: 60px;
  }

  .contacts__connects {
    margin-bottom: 60px;
  }

  .form__inputs input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 390px;
            flex: 0 0 390px;
  }
}

@media (max-width: 1040px) {
  .container {
    max-width: 860px;
  }

  .inner {
    margin: 0 auto;
    max-width: 720px;
    padding-top: 70px;
    padding-bottom: 75px;
  }

  .about__subtitle {
    margin-bottom: 60px;
  }

  .services__wrapper {
    margin: 0 auto;
    margin-top: 80px;
  }

  .services__column {
    width: 48%;
  }

  .works__subtitle {
    margin-bottom: 60px;
  }

  .works__tabs {
    margin-bottom: 60px;
  }

  .works__item {
    width: 48%;
  }

  .works__img {
    width: 100%;
  }

  .price__columns {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 370px;
  }

  .price__item {
    width: 100%;
    margin-top: 20px;
  }

  .slick-dots {
    width: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 60px;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  .slick-slide {
    margin: 0 auto;
  }

  .blog__img img {
    max-width: 350px;
  }

  .blog__text {
    max-width: 350px;
  }

  .blog__button {
    margin-top: 80px;
  }

  .form__inputs input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 340px;
            flex: 0 0 340px;
  }
}

@media (max-width: 867px) {
  .container {
    max-width: 800px;
  }
}

@media (max-width: 800px) {
  body.lock {
    overflow: hidden;
  }

  .container {
    max-width: 700px;
  }

  .header__inner {
    height: 90px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    cursor: pointer;
  }

  .header__burger.active span {
    display: none;
  }

  .header__burger.active:before {
    top: 9px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__burger.active:after {
    bottom: 9px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .header__burger:after,
  .header__burger:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #000;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    display: block;
    position: absolute;
    left: 0;
    top: 9px;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .header__nav {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 10px 20px 10px;
    overflow: auto;
    background-color: #fff;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
  }

  .header .nav__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .header__nav.active {
    top: 0;
  }

  .header .nav__link {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 100px;
  }

  .blog__img img {
    max-width: 340px;
  }

  .blog__text {
    max-width: 340px;
  }
}

@media (max-width: 730px) {
  .container {
    width: 550px;
  }

  .inner {
    margin: 0 auto;
    max-width: 500px;
    padding-top: 50px;
    padding-bottom: 55px;
  }

  .preview__title {
    font-size: 43px;
  }

  .works__tabs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .works__button {
    margin-bottom: 20px;
    width: 45%;
    font-size: 18px;
    text-align: center;
  }

  .works__button.all {
    padding-top: 27px;
    padding-left: 30px;
  }

  .works__button.uix {
    padding-top: 27px;
    padding-left: 30px;
  }

  .works__button.web {
    padding-top: 27px;
    padding-left: 30px;
  }

  .works__button.moc {
    padding-top: 25px;
    padding-left: 27px;
  }

  .blog__subtitle {
    margin-bottom: 40px;
  }

  .blog__img img {
    max-width: 240px;
  }

  .blog__text {
    margin-top: 0;
    max-width: 240px;
  }

  .blog__text .card__heading {
    font-size: 20px;
  }

  .blog .card__subtitle {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .contacts__item {
    width: 33.3333%;
  }

  .contacts__item .item__text {
    font-size: 16px;
  }

  .form__inputs input {
    -ms-flex-preferred-size: 240px;
        flex-basis: 240px;
    height: 80px;
  }

  textarea {
    height: 200px;
  }
}

@media (max-width: 570px) {
  .loader {
    font-size: 75px;
  }

  .container {
    max-width: 380px;
  }

  .preview__title {
    font-size: 35px;
  }

  .preview__subtitle {
    font-size: 20px;
    margin-bottom: 50px;
  }

  .about__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__columns {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .about__columns:last-child {
    margin-bottom: 0;
  }

  .services__column {
    width: 100%;
  }

  .blog__content__more .blog__card:nth-child(1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .blog__content__more .blog__card:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog__content__more .blog__card:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .blog__content__more .blog__card:last-child {
    margin-bottom: 0;
  }

  .blog__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .blog__card:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .blog__img {
    margin: 0 auto;
    width: 100%;
    margin-bottom: 10px;
  }

  .blog__img img {
    max-width: 320px;
    display: block;
    margin: 0 auto;
  }

  .blog__text {
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
  }

  .contacts__item a {
    width: 70px;
    height: 70px;
  }

  .contacts__item a img {
    position: relative;
    top: 10%;
    left: 21%;
    width: 40px;
    height: auto;
  }

  .contacts__item .item__text {
    font-size: 13px;
  }

  .contacts__form #form .form__inputs {
    margin-bottom: 0;
  }

  .form__inputs input {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
    height: 80px;
  }

  .contacts__form #form input[type=submit] {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 430px) {
  .container {
    max-width: 320px;
    overflow-x: hidden;
  }

  .inner {
    max-width: 320px;
  }

  .preview .container {
    overflow-x: visible;
  }

  .preview__buttons {
    margin-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .preview__buttons .preview__button {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 60%;
  }

  .services__column {
    max-width: 320px;
  }

  .works__item {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
  }

  .works__button {
    margin-bottom: 20px;
    width: 45%;
    height: 60px;
    font-size: 18px;
    text-align: center;
  }

  .works__button.all {
    padding-top: 20px;
  }

  .works__button.uix {
    padding-top: 6px;
  }

  .works__button.web {
    padding-top: 6px;
  }

  .works__button.moc {
    padding-top: 20px;
  }

  .price__subtitle {
    max-width: 320px;
  }

  .price__item {
    max-width: 320px;
  }

  .team__heading {
    margin-bottom: -30px;
  }

  .team__item {
    max-width: 320px;
  }

  .contacts__item .item__text {
    overflow: visible;
    font-size: 9px;
  }

  .contacts__form #form .form__inputs input {
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 80px;
    font-size: 14px;
  }

  .contacts__form #form .form__inputs input::-webkit-input-placeholder {
    font-size: 14px;
  }

  .contacts__form #form .form__inputs input::-moz-placeholder {
    font-size: 14px;
  }

  .contacts__form #form .form__inputs input:-ms-input-placeholder {
    font-size: 14px;
  }

  .contacts__form #form .form__inputs input::-ms-input-placeholder {
    font-size: 14px;
  }

  .contacts__form #form .form__inputs input::placeholder {
    font-size: 14px;
  }

  .contacts__form #form input[type=submit] {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 320px;
  }

  .contacts__form #form textarea {
    margin: 0 auto;
    max-width: 320px;
    height: 180px;
    font-size: 14px;
  }

  .contacts__form #form textarea::-webkit-input-placeholder {
    font-size: 14px;
  }

  .contacts__form #form textarea::-moz-placeholder {
    font-size: 14px;
  }

  .contacts__form #form textarea:-ms-input-placeholder {
    font-size: 14px;
  }

  .contacts__form #form textarea::-ms-input-placeholder {
    font-size: 14px;
  }

  .contacts__form #form textarea::placeholder {
    font-size: 14px;
  }

  .footer__rights {
    font-size: 15px;
  }
}

@media (max-height: 1440px) {
  .preview__inner {
    top: 160px;
  }

  .preview__subtitle,
  .preview__buttons {
    margin-bottom: 80px;
  }

  .preview__buttons .preview__button {
    margin-bottom: 40px;
  }
}

@media (max-height: 860px) {
  .header {
    height: 60px;
  }

  .header__inner {
    height: 60px;
  }

  .preview__inner {
    top: 120px;
  }

  .preview__subtitle,
  .preview__buttons {
    margin-bottom: 50px;
  }

  .team__heading {
    margin-bottom: -70px;
  }
}

@media (max-height: 720px) {
  .preview__inner {
    top: -30px;
  }

  .preview__title {
    margin-bottom: 6px;
    font-size: 35px;
    line-height: 28px;
  }

  .preview__subtitle {
    margin-bottom: 6px;
    font-size: 12px;
  }

  .preview__buttons {
    margin-bottom: 20px;
  }
}

@media (max-height: 640px) {
  .preview__inner {
    top: -30px;
  }

  .preview__title {
    margin-bottom: 6px;
    font-size: 35px;
    line-height: 28px;
  }

  .preview__subtitle {
    margin-bottom: 6px;
    font-size: 12px;
  }

  .preview__buttons {
    margin-bottom: 20px;
  }

  .contacts__form #form .form__inputs input {
    height: 60px;
  }

  .contacts__form #form textarea {
    height: 140px;
  }

  .contacts__form #form input[type=submit] {
    padding-top: 22px;
    height: 60px;
  }

  .preview__buttons .preview__button {
    padding-top: 6px;
    height: 40px;
    font-size: 15px;
  }

  .footer__rights {
    font-size: 15px;
  }
}

@media (max-height: 405px) {
  .preview__buttons .preview__button {
    margin-bottom: 8px;
  }
}